<table border="1">
  <thead>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Level</th>
    <th>Realm</th>
  </thead>
  <tbody>
    {{#characters}}
    <tr>
      <td><img src="http://render-eu.worldofwarcraft.com/character/{{thumbnail}}" alt="thumbnail"></td>
      <td><a href="/realm/{{realm}}/characters/{{name}}">{{name}}</a></td>
      <td>{{level}}</td>
      <td>{{realm}}</td>
    </tr>
    {{/characters}}
  </tbody>
</table>
