<h1>Welcome to Wow Pets Battle App</h1>
{{^battletag}}
<form action="/login" method="get">
  <button type="submit">Login</button>
</form>
{{/battletag}}

{{#battletag}}
<a href="/characters">My Characters</a>
<a href="/pets">Pets</a>
<br>
Hello {{ battletag }}
{{/battletag}}
